@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial;
    color: #000000;
    line-height: 1.5;
  }
  body {
    background-color: #263339;
  }

  .title {
    @apply text-[30px] font-bold text-emerald-300;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .navFont {
    @apply text-white hover:text-yellow-400 hover:font-semibold;
  }
}
