@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial;
    color: #000000;
    line-height: 1.5;
  }
  body {
    background-color: #263339;
  }

  .title {
    @apply font-bold text-emerald-300;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .navFont {
    @apply text-white hover:font-semibold hover:text-yellow-400;
  }

  .itemBorder {
    @apply rounded border-[1px] border-solid border-emerald-200;
  }

  .itemGrid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-3 xl:grid-cols-6;
  }
}
